<main>
    <div id="pantalla">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/19.png" alt="">
        <h2>Peso</h2>
        <label for="">100kg</label>
    </div>
    <div id="botones">
        <div id="descriptionBox">
            <button><img src="https://static.thenounproject.com/png/2303077-200.png" alt=""></button>
            <button><img src="https://cdn-icons-png.flaticon.com/512/118/118650.png" alt=""></button>
            <button><img src="https://cdn-icons-png.flaticon.com/512/470/470961.png" alt=""></button>
            <button><img src="https://static.thenounproject.com/png/2303077-200.png" alt=""></button>
            <button><img src="https://static.thenounproject.com/png/2303077-200.png" alt=""></button>
            <button><img src="https://static.thenounproject.com/png/2303077-200.png" alt=""></button>
        </div>
        <div id="statsBox">
            <button><img src="https://cdn-icons-png.flaticon.com/512/105/105220.png" alt=""></button>
            <button><img src="https://static.thenounproject.com/png/4988695-200.png" alt=""></button>
            <button><img src="https://cdn-icons-png.flaticon.com/512/81/81137.png" alt=""></button>
            <button><img src="https://cdn2.iconfinder.com/data/icons/rpg-fantasy-game-skill-ui/512/game_skill_ui_sword_attack-512.png" alt=""></button>
            <button><img src="https://cdn-icons-png.flaticon.com/512/750/750957.png" alt=""></button>
            <button><img src="https://cdn2.iconfinder.com/data/icons/rpg-fantasy-game-basic-ui/512/equipment_costume_boot_wing_fly_speed-512.png" alt=""></button>
        </div>
    </div>
    <div id="shinyBox">
        <button>Normal</button>
        <button>Shiny</button>
    </div>
    <div id="sexBox">
        <div id="sexButtons">
            <button><img src="https://cdn-icons-png.flaticon.com/512/44/44483.png" alt=""></button>
            <button><img src="https://cdn-icons-png.flaticon.com/512/44/44964.png" alt=""></button>
        </div>
        <picture></picture>
    </div>
    <div id="miniMonitores">
        <div>
            a
        </div>
        <div>
            a
        </div>
    </div>
</main>
