<main>
    <header id="titleBox"><h1>Tarjeta de Entrenador Pókemon</h1></header>
    <div id="subtitleBadge"><label for="">Medallas obtenidas:</label></div>
    <div id="mainBox">
        <div id="mainImageBox">
            <img id="trainerImage"src="https://preview.redd.it/i9xjv6ile2o41.png?auto=webp&s=f99f145cf6dc28d658180b200966ed58ab65109d" alt="">
        </div>
        <div id="secondBox">
            <div id="badges">
                <ul>
                    <li><img id="badge" src="https://www.nicepng.com/png/full/367-3679630_thunder-badge-pokemon-fire-red-transparent-badges.png" alt=""></li>
                </ul>
            </div>
            <div id="informationBox">
                <div id="infoTrainer">
                    <label for="">Nombre: Chris Olaya</label>
                    <label for="">Edad: 28 Años</label>
                    <label for="">Género: Masculino</label>
                    <label for="">Capital: Bogotá</label>
                    <label for="">Región: Colombia</label>
                    <label for="">Clase de entrenador:<br> Aventurero</label>
                    <button id="pokeGenerator">Generar Pokemons</button>
                </div>
                <div id="pokemonsBox">
                    <div> <img id="poke1" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""> <img id="poke2" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""></div>
                    <div><img id="poke3" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""> <img id="poke4" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""></div>
                    <div><img id="poke5" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""> <img id="poke6" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</main>  
    