<main>
    <header id="titleBox"><h1>Tarjeta de Entrenador Pókemon</h1></header>
    <!-- <div id="subtitleBadge"><label for="">Medallas obtenidas:</label></div> -->
    <div id="mainBox">
        <div id="mainImageBox">
            <img id="trainerImage"src="https://img.wattpad.com/ce8a22312ce8aef3178eb68691d6afa675b1b9c1/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5f756e43577547774a57767331773d3d2d3933383936343039312e313632633662313231366161643165373439363432353932353839392e676966" alt="">
        </div>
        <div id="secondBox">
            <!-- <div id="badges">
                <ul>
                    <li><img id="badge" src="https://www.nicepng.com/png/full/367-3679630_thunder-badge-pokemon-fire-red-transparent-badges.png" alt=""></li>
                </ul>
            </div> -->
            <div id="informationBox">
                <div id="infoTrainer">
                    <label for="">Nombre: Chris Olaya</label>
                    <label for="">Edad: 28 Años</label>
                    <label for="">Género: Masculino</label>
                    <label for="">Capital: Bogotá</label>
                    <label for="">Región: Colombia</label>
                    <label for="">Clase de entrenador:<br> Aventurero</label>
                    <button id="pokeGenerator">Generar Pokemons</button>
                </div>
                <div id="pokemonsBox">
                    <label for="">Equipo Pókemon</label>
                    <div> <img id="poke1" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""> <img id="poke2" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""></div>
                    <div><img id="poke3" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""> <img id="poke4" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""></div>
                    <div><img id="poke5" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""> <img id="poke6" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/62.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</main>  
    