$small: 757px;
$medium: 900px;

body{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

@media screen and (max-width: $small) {
    body {
        flex-flow: column nowrap;
    }    
}
