<main>
    <div id="type" class="type">
        <img id= "typeImg" src="assets/pokeIcon.png" alt="type" #typeImg>
        <div id="typeBox">
            <ul id="loading">
                <li class="red led"></li>
                <li class="yellow led"></li>
                <li class="green led"></li>
            </ul>
            <input id="searchInput" type="text" placeholder="Buscador pokemon">
        </div>
    </div>
    <div id="monitor">
        <label id="name" for=""></label>
        <img id="imgPrincipal" src="" alt="pokemon">
        <label id="number" for=""></label>
    </div>
    <div id="play">
        <button id="on" class="on"></button>
        <button id="off"></button>
    </div>
    <div id="selectors">
        <div>
            <button id="selector">select</button>
        </div>
        <div id="types">
            <label id="type1"></label>
            <label id="type2"></label>
        </div>
        <div id="selectorBox">
            <ul id="arrows">
                <li id="up">
                    <button id="arrowUp"></button>
                </li>
                <div id="sides">
                    <li>
                        <button id="arrowLeft"></button>
                    </li>
                    <li>
                        <button id="arrowRight"></button>
                    </li>
                </div>
                <li>
                    <button id="arrowDown"></button>
                </li>
            </ul>
        </div>
    </div>
</main>